<html>
  <head>
    <title>Searchbar</title>

    <style>
      .searchbarStyle {
        outline: none;
        border: 1px solid #d9d9d9;
        border-radius: 6px;
        width: 552px;
        height: 40px;
      }

      .buttonStyle {
        background-color: white;
        border: 1px solid white;
      }
    </style>

    <link
      href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css"
      rel="stylesheet"
    />
  </head>

  <body>
    <div style="display: flex">
      <input
        placeholder="Search without being tracked"
        class="searchbarStyle"
      />

      <div>
        <button class="buttonStyle">
          <i class="bx bx-search" style="font-size: 30px; margin-top: 4px"></i>
        </button>
      </div>
    </div>
  </body>
</html>
