.parentContainer {
  border: 1px solid black;
  width: 921px;
  height: 500px;
  display: flex;
  /* flex-direction: row-reverse; */
  /* flex-direction: row; */
  /* flex-direction: column; */
  flex-direction: column-reverse;
}

.childStyle {
  border: 1px solid black;
  width: 95px;
  height: 95px;
}
