<html>
  <head>
    <title>RHS Container</title>

    <style>
      body {
        margin: 0;
      }

      .rhsContainer {
        border: 1px solid black;
        width: 100%;
        height: 100%;
        display:grid;
        grid-template-columns: 3fr 1fr;
        column-gap: 3rem;
      }
    </style>
  </head>

  <body>
    <div class="rhsContainer">
        <div style="background-color: blueviolet;"></div>
        <div style="background-color: blanchedalmond;"></div>
    </div>
  </body>
</html>
