.flexContainerStyle {
  width: 1000px;
  height: 700px;
  border: 1px solid black;
  display: flex;
  flex-wrap: wrap;
}

.childStyle {
  border: 1px solid red;
  width: 60px;
  height: 60px;
}
