.flexContainer {
  border: 1px solid black;
  display: flex;
  height: 170px;
  width: 300px;
  /* flex-direction: row-reverse;
  flex-wrap: wrap; */
  flex-flow: row-reverse wrap;
}

.flexItem {
  border: 1px solid pink;
  width: 50px;
  height: 50px;
}
