<html>
  <head>
    <title>Order Summary</title>
  </head>

  <body>
    <div>
      <div
        style="
          text-align: center;
          font-weight: bold;
          font-size: 30px;
          color: #1f2849;
        "
      >
        Order Summary
      </div>

      <div
        style="
          text-align: center;
          color: #7f86a4;
          font-size: 20px;
          margin-top: 2px;
        "
      >
        You can now listen to millions of songs, audiobooks, and poscasts on any
        device anywhere you like!
      </div>
    </div>
  </body>
</html>
