.divStyle {
  position: static;
  top: 0;
  left: 9;
  border: 1px solid gray;
  width: 50px;
  height: 50px;
}

.divTwoStyle {
  position: relative;
  top: 0;
  left: 0;
  border: 1px solid gray;
  width: 78px;
  height: 50px;
}

.thirdParentStyle {
  width: 50px;
  height: 50px;
  border: 1px solid gray;
  margin-left: 50px;
}
