<html>
  <head>
    <title>Whatsapp Header One</title>
    <link
      href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css"
      rel="stylesheet"
    />

    <style>
      .whatsappHeaderOneStyle {
        background-color: #008069;
        color: white;
        width: 369px;
        font-size: 20px;
      }
    </style>
  </head>

  <body>
    <div class="whatsappHeaderOneStyle">
      <span> WhatsApp </span>

      <span style="float: right; margin-top: 2px; margin-right: 4px">
        <i class="bx bx-dots-vertical-rounded"></i>
      </span>

      <span style="float: right; margin-top: 2px; margin-right: 4px">
        <i class="bx bx-search-alt-2"></i>
      </span>

      <span style="float: right; margin-top: 2px; margin-right: 6px">
        <i class="bx bx-camera"></i>
      </span>
    </div>
  </body>
</html>
