<html>
  <head>
    <title>Contact Info Div</title>
  </head>

  <body>
    <div style="border: 1px solid black; display: inline-block">
      <div style="display: inline-block">
        <div
          style="
            height: 40px;
            width: 40px;
            border: 1px solid black;
            border-radius: 50%;
            display: inline-block;
          "
        ></div>
      </div>

      <div
        style="
          border: 1px solid black;
          height: 40px;
          width: 369px;
          display: inline-block;
          margin-top: 1px;
          position: absolute;
          margin-left: 5px;
        "
      >
        <div>
          <span style="font-weight: bold">Ashish Rathod</span>
          <span style="float: right">11:35 am</span>
        </div>
        <div>Good Morning</div>
      </div>
    </div>
  </body>
</html>
