.flexContainerStyle {
  width: 700px;
  height: 300px;
  border: 1px solid black;
  display: flex;
  /* justify-content: flex-end; */
  /* justify-content: flex-start; */
  /* justify-content: center; */
  justify-content: stretch;
}

.childElementStyle {
  border: 1px solid red;
  /* width: 95px; */
  /* height: 95px; */
  width: 20rem;
  height: 20rem;
}
