.pageTitleStyleOne {
  font-size: large;
  color: rgb(0, 0, 0);
}

.pageTitleStyleTwo {
  font-size: large;
  color: brown;
}

.pageStyleThree {
  font-size: large;
  color: yellow;
}

h1 {
  font-size: small;
  color: red;
}
