<html>
  <head>
    <title>Friends Update</title>

    <style>
      .friendsCircle {
        height: 3rem;
        width: 3rem;
        background-color: teal;
        border-radius: 50%;
        border: 1px solid black;
      }

      .friendCircleContainer {
        display: flex;
        justify-content: center;
        border: 1px solid black;
        flex-direction: column;
        align-items: center;
        width: fit-content;
      }
    </style>
  </head>

  <body>
    <div
      style="
        display: flex;
        column-gap: 30px;
        border: 1px solid black;
        overflow-x: scroll;
        width: 700px;
      "
    >
      <div class="friendCircleContainer">
        <div class="friendsCircle"></div>
        <div style="text-align: center">Friend Name</div>
      </div>

      <div class="friendCircleContainer">
        <div class="friendsCircle"></div>
        <div style="text-align: center">Friend Name</div>
      </div>

      <div class="friendCircleContainer">
        <div class="friendsCircle"></div>
        <div style="text-align: center">Friend Name</div>
      </div>

      <div class="friendCircleContainer">
        <div class="friendsCircle"></div>
        <div style="text-align: center">Friend Name</div>
      </div>

      <div class="friendCircleContainer">
        <div class="friendsCircle"></div>
        <div style="text-align: center">Friend Name</div>
      </div>

      <div class="friendCircleContainer">
        <div class="friendsCircle"></div>
        <div style="text-align: center">Friend Name</div>
      </div>

      <div class="friendCircleContainer">
        <div class="friendsCircle"></div>
        <div style="text-align: center">Friend Name</div>
      </div>

      <div class="friendCircleContainer">
        <div class="friendsCircle"></div>
        <div style="text-align: center">Friend Name</div>
      </div>

      <div class="friendCircleContainer">
        <div class="friendsCircle"></div>
        <div style="text-align: center">Friend Name</div>
      </div>

      <div class="friendCircleContainer">
        <div class="friendsCircle"></div>
        <div style="text-align: center">Friend Name</div>
      </div>

      <div class="friendCircleContainer">
        <div class="friendsCircle"></div>
        <div style="text-align: center">Friend Name</div>
      </div>

      <div class="friendCircleContainer">
        <div class="friendsCircle"></div>
        <div style="text-align: center">Friend Name</div>
      </div>

      <div class="friendCircleContainer">
        <div class="friendsCircle"></div>
        <div style="text-align: center">Friend Name</div>
      </div>

      <div class="friendCircleContainer">
        <div class="friendsCircle"></div>
        <div style="text-align: center">Friend Name</div>
      </div>

      <div class="friendCircleContainer">
        <div class="friendsCircle"></div>
        <div style="text-align: center">Friend Name</div>
      </div>

      <div class="friendCircleContainer">
        <div class="friendsCircle"></div>
        <div style="text-align: center">Friend Name</div>
      </div>

      <div class="friendCircleContainer">
        <div class="friendsCircle"></div>
        <div style="text-align: center">Friend Name</div>
      </div>
    </div>
  </body>
</html>
