.flexContainer {
  border: 1px solid black;
  display: flex;
  height: 170px;
  width: 300px;
  /* flex-direction: column; */
  flex-direction: column-reverse;
  /* flex-direction: row; */
  /* flex-direction: row-reverse; */
}

.flexItem {
  border: 1px solid pink;
  width: 50px;
  height: 50px;
}
