.pageStyleThree {
  font-size: large;
  color: yellow;
}

.pageTitleStyleTwo {
  font-size: large;
  color: brown;
  /* "font-family" is the uncommon css property among the three class names. */
  font-family: monospace;
}

.pageTitleStyleOne {
  font-size: large;
  color: rgb(0, 0, 0);
}

h1 {
  font-size: small;
  color: red;
}
