<html>
  <head>
    <title>LHS Navigation</title>

    <style>
      body {
        margin: 0;
      }

      .lhsNavigation {
        border: 1px solid black;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        row-gap: 30px;
      }

      .menuStyle {
        font-size: 2rem;
      }
    </style>

    <link
      href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css"
      rel="stylesheet"
    />
  </head>

  <body>
    <div class="lhsNavigation">
      <div class="menuStyle">
        <span><i class="bx bxs-home"></i> </span>Home
      </div>
      <div class="menuStyle">
        <span><i class="bx bx-search"></i></span>
        Search
      </div>
      <div class="menuStyle">
        <span><i class="bx bx-compass"></i></span>
        Explore
      </div>
      <div class="menuStyle">Reels</div>
      <div class="menuStyle">
        <span><i class="bx bx-chat"></i></span>
        Messages
      </div>
      <div class="menuStyle">
        <span><i class="bx bx-heart"></i></span>
        Notification
      </div>
      <div class="menuStyle">
        <span><i class="bx bx-folder-plus"></i></span>
        Create
      </div>
      <div class="menuStyle">Profile</div>
    </div>
  </body>
</html>
