<html>
  <head>
    <title>rhsContainer</title>

    <style>
      body {
        margin: 0;
      }

      .rhsContainerStyle {
        display: grid;
        grid-template-columns: 3fr 1fr;
        border: 1px solid black;
        height: 100%;
        width: 100%;
        column-gap: 4rem;
      }
    </style>
  </head>

  <body>
    <div class="rhsContainerStyle">
        <div style="background-color: aquamarine;"></div>
        <div style="background-color: teal;"></div>
    </div>
  </body>
</html>
