<html>
  <head>
    <title>WhatsApp Header Two</title>
    <link
      href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css"
      rel="stylesheet"
    />
    <style>
      .whatsAppHeaderTwoStyle {
        width: 369px;
        border: 1px solid black;
        background-color: green;
        color: white;
      }
    </style>
  </head>

  <body>
    <div class="whatsAppHeaderTwoStyle">
      <div>
        <div style="display: inline-block">
          <i class="bx bxs-group"></i>
        </div>

        <div
          style="display: inline-block; padding-left: 14px; padding-right: 14px"
        >
          <a>Chats</a>
        </div>

        <div style="display: inline-block">
          <a>Updates</a>
        </div>

        <div style="display: inline-block">
          <a>Calls</a>
        </div>
      </div>
    </div>
  </body>
</html>
